@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply text-foreground mb-3;
    }

    h3 {
      @apply italic;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    a {
      @apply text-foreground hover:text-accent wrap-break-word decoration-dashed underline-offset-4 focus-visible:no-underline;
    }

    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent;
    }

    hr {
      @apply border-border;
    }

    img {
      @apply border-border mx-auto border;
    }

    img[role="button"] {
      @apply cursor-zoom-in;

      &:focus-visible {
        @apply outline-2 outline-offset-2 outline-dashed;
      }
    }

    figcaption {
      @apply opacity-75;
    }

    table {
      th,
      td {
        @apply border-border border p-2;
      }

      th {
        @apply py-1.5;
      }
    }

    code {
      @apply bg-muted/75 text-foreground rounded p-1 wrap-break-word before:content-none after:content-none;
    }

    blockquote {
      @apply border-s-accent/80 wrap-break-word opacity-80;
    }

    details:not(.callout) {
      @apply text-foreground inline-block cursor-pointer select-none [&_p]:hidden [&_ul]:my-0!;
    }

    summary {
      @apply focus-visible:outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-dashed;
    }

    pre {
      @apply focus-visible:outline-accent focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-dashed;
    }
  }

  /* ===== Code Blocks ===== */
  .app-prose .expressive-code {
    @apply my-6;
  }

  .callout {
    --calloutAccent: var(--callout-accent, var(--github-callout-accent-note));
    --calloutBorder: var(--callout-border, var(--github-callout-border-note));

    border-left: 0px solid var(--calloutBorder);
    border-inline-start: 0.25em solid var(--calloutBorder);
    padding: 0.5rem 1rem;
    margin: 16px;
    color: inherit;
  }

  details.callout summary::marker {
    color: var(--calloutAccent);
  }

  .callout-indicator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--calloutAccent);
  }

  summary > .callout-indicator {
    display: inline-flex;
    vertical-align: middle;
  }

  .callout-indicator + * {
    margin-top: 1rem;
    margin-block-start: 1rem;
  }

  .callout-title {
    font-weight: var(--github-callout-header-font-weight, 500);
  }

  .callout-hint {
    display: flex;
    align-items: center;
  }

  .callout-hint > svg {
    fill: currentColor;
  }

  .callout-content > * {
    margin: 1em 0;
  }

  .callout-content > *:first-child {
    margin-top: 0;
  }

  .callout-content > *:last-child {
    margin-bottom: 0;
  }

  .callout-content:first-child,
  .callout-content:only-child {
    margin-top: 0;
    margin-block-start: 0;
  }

  .callout-content:last-child,
  .callout-content:only-child {
    margin-bottom: 0;
    margin-block-end: 0;
  }

  .callout-note {
    --callout-accent: var(--github-callout-accent-note);
    --callout-border: var(--github-callout-border-note);
  }
  .callout-commend {
    --callout-accent: var(--github-callout-accent-tip);
    --callout-border: var(--github-callout-border-tip);
  }
  .callout-warn {
    --callout-accent: var(--github-callout-accent-warning);
    --callout-border: var(--github-callout-border-warning);
  }
  .callout-deter {
    --callout-accent: var(--github-callout-accent-caution);
    --callout-border: var(--github-callout-border-caution);
  }
  .callout-assert {
    --callout-accent: var(--github-callout-accent-important);
    --callout-border: var(--github-callout-border-important);
  }
}
