---
import { commentConfig } from '@/config'

interface Props {
  path: string
}

const config = {
  ...commentConfig.waline,
  el: '#waline',
  path: Astro.props.path,
  dark: 'html.dark',
}
---
<!-- Waline -->
<div class="relative w-full">
  <div id="waline"></div>
  <link rel="stylesheet" href="https://s4.zstatic.net/npm/@waline/client@3.6.0/dist/waline.css" />
  <script is:inline type="module" is:inline define:vars={{ config }}>
    import { init } from 'https://s4.zstatic.net/npm/@waline/client@3.6.0/dist/waline.js';
    init(config);
  </script>
</div>