---
import { commentConfig } from '@/config'

interface Props {
  path: string
}

const config = {
  ...commentConfig.waline,
  path: Astro.props.path,
}
---
<!-- Waline -->
<div class="relative w-full">
  <div id="waline"></div>
  <link rel="stylesheet" href="https://s4.zstatic.net/npm/@waline/client@v3/dist/waline.css" />
      <script type="module" is:inline define:vars={{ config }}>
      import { init } from 'https://s4.zstatic.net/npm/@waline/client@v3/dist/waline.js';

      if (typeof window !== 'undefined') {
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', () => {
            init(config);
          });
        } else {
          init(config);
        }
      }
     </script>
</div>