---
import MainGridLayout from '@layouts/MainGridLayout.astro'
import { url } from '@utils/url-utils'
import { Icon } from 'astro-icon/components'
import { i18n } from '@i18n/translation'
import I18nKey from '@i18n/i18nKey'
---

<MainGridLayout title={i18n(I18nKey.notFoundTitle)}>
  <div class="w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full text-black/75 dark:text-white/75">
      <div class="flex items-center gap-4">
        <h1 class="text-[5rem] font-bold">{i18n(I18nKey.notFound)}</h1>
        <p class="text-[2rem]">{i18n(I18nKey.notFoundTitle)}</p>
      </div>
      <a href={url("/")} class:list={["font-bold overflow-hidden active:scale-95"]}>
        <div class="btn-card max-w-fit rounded-2xl h-[3.75rem] px-4 flex items-center justify-start gap-2">
          <div class="overflow-hidden transition overflow-ellipsis whitespace-nowrap text-black/75 dark:text-white/75">
            {i18n(I18nKey.returnToTop)}
          </div>
          <Icon name="material-symbols:chevron-right-rounded" class="text-[1.75rem] text-black/75 dark:text-white/75" />
        </div>
      </a>
    </div>
  </div>
</MainGridLayout>
